*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Century Gothic";
}
.wrapper{
    width: 100%;
    height: 100vh;
    background: #f0f;
}
.container{
    width: 300px;
    height: 450px;
    background: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.screen{
    width: 100%;
    height: 100px;
    background: #ddd;
}
.screen input{
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    text-align: right;
    height: 100%;
    font-size: 18px;
    padding: 5px;
}
.cal-body{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:10px;
    padding: 5px;
}
.cal-body button{
    height: 60px;
    border: none;
    background: #eee;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}
.cal-body button:active{
    transition: 0.5s ease;
    background-color: aqua;
}
.cal-body button:hover{
    background-color: aqua;
}
.btn-click{
    background-color: aqua!important;
}